.repo-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.repo-list article{
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.repo-list article a {
    height: 42px;
    border-bottom: 5px;
    border: 2px solid #4072bd;
    background: none;
    margin-top: 10px;
    color: #4072bd;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.repo-list article a:hover {
    background: #4072bd;
    color: #ffffff;
}